@media screen and (min-width: 600px) {
.loginPage{
background:rgba(0,0,0,0.5);
width:40%;

margin-left:30%;
border-radius:10px;
}

input{
margin-left:30%;
width:40%;
padding:7px;
margin-top:2%;
margin-bottom:2%;
}

input:hover{
outline:solid;
outline-color:rgb(183, 183, 247);
outline-width:1px;
}

h4
{
text-align:center;
color:white;
font-family:courier;
font-size:large;
font-weight:bold;
}

h5
{
text-align:center;
color:white;
}

.sign_up
{
margin-left:30%;
background:black;
padding:7px;
margin-top:2%;
margin-bottom:2%;
border:none;
color:white;
width:43%;
}
.sign_up:hover
{
background:grey;
}

.loginBtn:hover
{
outline:solid;
outline-color:lightgrey;

}

a
{
margin-left:35%;
text-decoration:none;
}
body {
  background-image: url("../images/image1.jpg");
  background-size: cover;  /* This makes the image cover the entire background, even if it has to stretch */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


#showpopUp
{
background:green;
height:auto;
text-align:center;
width:50%;
margin:auto;
z-index:10;
color:white;
display:none;
}
.kirinyagaLogo
{
margin-left:40%;
height:80px;
width:80px;
border-radius:50%;
}
}

@media screen and (max-width: 600px) {
body {
  background-image: url("../images/image1.jpg");
  background-size: cover;  /* This makes the image cover the entire background, even if it has to stretch */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

    .loginPage {
        width: 90%; /* Full width on mobile */
        padding: 15px;
        margin-left:3%;
        border-radius:10px;
        background:rgba(0,0,0,0.5);
    }

    .kirinyagaLogo
{
margin-left:40%;
height:80px;
width:80px;
border-radius:50%;
}

    
#showpopUp
{
background:green;
height:auto;
text-align:center;
width:50%;
margin:auto;
z-index:10;
color:white;
display:none;
}
.sign_up
{
margin-left:3%;
background:black;
padding:7px;
margin-top:2%;
margin-bottom:2%;
border:none;
color:white;
width:95%;
}
.sign_up:hover
{
background:grey;
}
input{
margin-left:3%;
width:90%;
padding:10px;
margin-top:2%;
margin-bottom:2%;
}
input:hover{
outline:solid;
outline-color:rgb(183, 183, 247);
outline-width:1px;
}

h4
{
text-align:center;
color:white;
font-family:courier;
font-size:large;
font-weight:bold;
}

h5
{
text-align:center;
color:white;
}
a
{
margin-left:35%;
text-decoration:none;
}
}
